@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar global estilo Blocka */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0B1220; /* bg main */
}

::-webkit-scrollbar-thumb {
  background: #1E293B; /* border/input */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6; /* blue */
}
